/* .navbar{
    background-color: rgb(0, 0, 34);
}
.banner{
    top: 200px;
} */
.blog{
    color: white;
}

.blog,
.blog-content{
    position: relative;
    height: fit-content;
    padding-bottom: 0;
}

.blog-content,
.blog-title{
    min-height: auto;   
    height: fit-content;
    padding: 0 10px;
    white-space: normal;
}

.published{
    margin: 20px 0 60px;
    padding: 0 10px;
    text-transform: capitalize;
    font-style: italic;
    color: rgba(0,0,0,0,5);
}
.published span{
    font-weight: 700;
    font-style: normal;
}